body{
	background-color: #EFEFEF;
	font-family: 'Raleway', sans-serif;
}

p{
	margin-top: unset;
    margin-bottom: unset;
}

.navbar{
	padding: 0;
	padding-top: 10px;
}

#search, #div_input_search{
	display: none;
}

.side{
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  background-color: #EFEFEF;
  border-right: solid 1px #021B79;
  height: 90%;
  margin-top: 35px;
}

.side a {
	color: #021B79;
}

.logo{
  padding-bottom: 25px;
}

.icon{
	font-size: 10px;
	text-align: center;
	margin-right: 10px;
	border-radius: 50%;
	display: inline-block;
	padding: 10px;
	width: 40px;
	height: 40px;
}

li{
	padding-bottom: 10px;
}

a:hover {
	text-decoration: none;
}

.main{
  margin-left: 16.5%;
  font-size: 0.6rem;
  padding: 0px 10px;
  display: flex;
  margin-top: 10%;
}

.ensemble{
	padding: 1.4rem;
}

.article{
	background-color: #F5F5F5;
	margin: 0 auto;
	min-height: 7rem;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
}

.imgArticle{
	float: right;
	width: 5rem;
	height: 5rem;
}

.content{
	color: #798081;
}

.ngrams{
	color: #696969;
}

#img_search{
	width: 1.2rem;
	height: 1.2rem;
}

#input_search_web{
	border: 0px;
	background: white;
	height: 80%;
	width: 70%;
    border-radius: 20px;
}

#div_input_search_web{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 5%;
	background: white;
	border-radius: 100px;
}

.bubble{
	margin: auto;
	margin-top: 30px;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px)
{
	h4{
		font-size: 1rem;
		font-weight: bolder;
	}

	h5{
		font-size: 1rem;
	}


    .navbar {
       position:fixed;
        left:0px;
        bottom:0px;
        height:8%;
        width:100%;
        background-color: #EFEFEF;
        overflow: auto;
        white-space: nowrap;
        border-top: solid 1px #021B79;
        width: 80%;
        margin-left: 35px;
    }
    
    .menu{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #div_input_search_web{
        display: none;
    }

    .logo{
        display:none;
    }
    
    .label_responsive{
        display:none;
    }

    ul {
        list-style-type : none;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    li {
        display : inline-block;
        width : 15%;
        margin-left: 20px;
    }

    .side{
        background: #EFEFEF;
        width: 0px;
        padding: 0px;
        border-right: 0;
    }

    .icon{
        background-color: white;
        border-radius: 10px;
        font-size: 10px;
        text-align: center;
        margin-right: 10px;
        border-radius: 50%;
        display: inline-block;
        padding: 10px;
        width: 40px;
        height: 40px;
    }

    

    .navbar-form{
        display: none;
    }

    #search{
        display: block;
    }

    #input_search{
        border: 0px;
        background: #F5F5F5;
        height: 80%;
    }

    #div_input_search{
        display: none;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        left: 0px;
        bottom: 8%;
        margin-bottom: 15px;
        margin-left: 30px;
        width: 60%;
        height: 5%;
        background: #F5F5F5;
        border-radius: 100px;
    }

    .main{
        margin-left: 0%;
    }

    .ensemble{
        margin-left: 15%;
        padding: 0;
        padding-top: 1rem;
    }

    .article{
        width: 100%;
    }

    .imgArticle{
    	display: none;
    }
    
}


/* Le bouton  */
