<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
         {% foreach d in data  %}
           {{  dump(d) }}
        {% endforeach %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

